/* HERO SECTION */

.container.hero {
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    min-height: 100vh;
}

footer.container {
    padding-top: 0;
    padding-bottom: calc(var(--section-padding) * 1.5);
}
    footer.container > .row-short {
        margin-top: var(--section-padding);
    }

.bg-main-color {
    background-color: var(--main-color);
}



.hero {
    text-align: center;
}

    .hero img {
        height: 40px;
        margin: calc(var(--hero-space) * 2 ) 0;
    }

    .hero h1 {
        display: inline-block;
        margin-bottom: var(--hero-space);
        width: 100%;
        text-transform: uppercase;
        font-size: 50px;
        color: #000;

    }

    .hero p {
        display: inline-block;
        width: 100%;
        font-size: 18px;
        margin-bottom: calc(var(--hero-space) * 3 );
        color: #666;
    }

    .hero .clock {
        margin-bottom: calc(var(--hero-space) * 2 );
    }

    .hero .form {
        margin-bottom: var(--hero-space);
    }

    /* MAIN SECTION */

    main h2 {
        display: inline-block;
        width: 100%;
        margin-bottom: var(--main-space);
        color: #000;
        font-size: 21px;
        text-transform: uppercase;
    }
    main p {
        display: inline-block;
        width: 100%;
        margin-bottom: var(--main-space);
        font-size: 18px;
        line-height: 26px;
        color: var(--grey-color);
    }
        main p > a {
            color: var(--secondary-color);
            text-decoration-line: none;
        }
    
    main .form > .btn {
        float: right;
    }

